body{
	color:#FFF;
	background:url(images/bg.jpg)  fixed;

	}
.wrapper{
		height:900px;
		width:960px;
		background-color:#666;
		margin:20px;
		border-radius:15px;
		margin:0 auto;
	}
.banner{
	background:url(images/banner.jpg);
	height:385px;
	width:960px;
	}	
.banner_text{
	padding-top:50px;
	padding-left:60px;	
	}	
.menu{ height:50px; background:#CCC;}
.menu ul{list-style:none; margin:0px; padding:0px;}
.menu ul li{float:left; padding:15px; border-left:1px solid #333; border-right:1px solid #333; position:relative;}
.menu ul li:last-child{border-right:0px solid; }
.menu ul li:first-child{border-left:0px solid; }
.menu ul li a{display:block; background:#999; text-decoration:none;}
.menu ul li a:hover{background:#F00;}


.menu ul li ul{position:absolute; left:-9999px;}
.menu ul li:hover ul{left:0px;}
.menu ul li ul li{float:none;border-left:0px solid;border-right:0px solid; background:#90F; padding: 10px 15px;text-decoration:none; border-bottom:1px solid #000;
border-top:1px solid #000; }
.menu ul li ul li a{width:200px; color:#FFF;}
.menu ul li ul li:last-child{border-bottom:0px solid;}
.menu ul li ul li:first-child{border-top:0px solid;}



